

.cardie{
  border: solid rgba(28, 44, 63,0.85) 2px;
}

.cardieTop{
  border-bottom: solid rgba(28, 44, 63,0.25) 2px;
}

.cardieText{
  border-top: solid rgba(28, 44, 63,0.25) 2px;
  border-bottom: solid rgba(28, 44, 63,0.5) 2px;
}

.pric{
    font-size: 18px;
    color:rgb(28, 44, 63);
    text-shadow: 2px 1px #ffffff;
}

.floater{
  border: solid rgb(28, 44, 63) 3px;
  background-color: rgba(237, 145, 33,0.9) !important;
}

.floater:hover{
  background-color: rgb(248, 187, 112) !important;
}

.catLabel{
  font-size: 14px;
    color:rgb(255, 255, 255);
    background-color: rgba(28, 44, 63,1) !important;
    border: solid rgba(28, 44, 63,1) 2px;
    border-bottom-left-radius: 50px 50px;
}

.catLabelR{
  font-size: 14px;
    color:rgb(255, 255, 255);
    border: solid rgba(28, 44, 63,1) 2px;
    border-bottom-left-radius: 50px 50px;
}

.catLabelL{
  font-size: 14px;
    color:rgb(255, 255, 255);
    border: solid rgba(28, 44, 63,1) 2px;
    border-bottom-right-radius: 50px 50px;
}

.xbut{
  font-size: 11px;
  background-color: rgba(255, 0, 0,0.6) !important;
  color: rgb(25, 40, 58,1) !important;
  border: solid rgb(25, 40, 58,1) 2px;
  border-bottom: solid rgb(25, 40, 58,1) 4px;
  border-top:none;
}

.xbut:hover{
  background-color: rgba(255, 0, 0,1) !important;
}

.stars {
  color: rgba(28, 44, 63,1) !important;
}

.stars:hover {
  color: rgb(255, 255, 255) !important;
}

.comments {
  color: rgba(28, 44, 63,1) !important;
}

.comments:hover{
  color: rgb(255, 255, 255) !important;
}
