
.cardieTop{
  font-size: 10px !important;
  border-top: solid rgb(255, 255, 255) 2px;
  border-left: solid rgb(255, 255, 255) 1px;
}

.cardieText{
  font-size: 13px !important;
  border-top: solid rgba(28, 44, 63,0.25) 2px;
  border-bottom: solid rgba(28, 44, 63,0.5) 2px;
}

.pric{
    font-size: 14px;
    color:rgb(28, 44, 63);
    text-shadow: 2px 1px #ffffff;
}

.floater{
  border: solid rgb(28, 44, 63) 2px;
  background-color: rgba(237, 145, 33,0.9) !important;
}

.floater2{
  background-color: rgba(28, 44, 63,1) !important;
}

.floater:hover{
  background-color: rgb(248, 187, 112) !important;
}


.catLabelR{
  font-size: 14px;
    color:rgb(255, 255, 255);
    border-left: solid rgb(255, 153, 0) 3px;
    border-bottom: solid rgb(255, 153, 0) 1px;
    border-bottom-left-radius: 50px 50px;
    box-shadow: -5px 0px 20px rgb(255, 174, 0);
}

.catLabelL{
  font-size: 14px;
    color:rgb(255, 255, 255);
    border-right: solid rgb(255, 153, 0) 3px;
    border-bottom: solid rgba(255, 153, 0) 1px;
    border-bottom-right-radius: 50px 50px;
    box-shadow: 5px 5px 20px rgb(255, 174, 0);
}

.xbut{
  font-size: 11px;
  background-color: rgba(255, 0, 0,0.6) !important;
  color: rgb(25, 40, 58,1) !important;
  border: solid rgb(25, 40, 58,1) 2px;
  border-bottom: solid rgb(25, 40, 58,1) 4px;
  border-top:none;
}

.xbut:hover{
  background-color: rgba(255, 0, 0,1) !important;
}

.stars {
  color: rgba(28, 44, 63,1) !important;
}

.stars:hover {
  color: rgb(255, 255, 255) !important;
}

.comments {
  color: rgba(28, 44, 63,1) !important;
}

.comments:hover{
  color: rgb(255, 255, 255) !important;
}
