.catLabelLB{
    font-size: 14px;
      color:rgb(255, 255, 255);
      border: solid rgb(255, 255, 255) 2px; 
  }

  .newCat{
    border: solid rgba(28, 44, 63,1) 4px;
    border-top: solid rgba(28, 44, 63,0) 0px;
    font-size: 30px;
  color:rgb(255, 255, 255);
  opacity: 1 !important;
}




li{
  list-style: none;
}




.StoreFilterLabel{
  font-size: 16px;
    color:rgb(255, 255, 255);
    border: solid rgba(28, 44, 63,1) 4px;
    border-top: solid rgba(28, 44, 63,1) 2px;
    border-bottom-right-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    border-top-left-radius: 50px 50px;
    background-color: rgba(255, 255, 255, 0.8);
}



.DeptLabelW{
  font-size: 24px;
    color:rgb(255, 255, 255);
    border-bottom-left-radius: 50px 50px;
    border-left: groove rgb(255, 255, 255) 1px;
    border-bottom: groove rgb(255, 255, 255) 5px;
    border-top: groove rgb(255, 255, 255) 2px;
    border-right: groove rgb(255, 255, 255) 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity:1 !important;
}





.titleM2W{
  border-top: groove rgb(255, 255, 255) 4px;
  border-top-left-radius: 100px 5px;
  font-size: 20px !important;
  font-family: Brush Script MT, Brush Script Std, mon;
}