
.floaterM{
  font-size: 10px;
background-color: rgba(28, 44, 63,0.9) !important;
box-shadow: 0px 0px 0px rgb(255, 174, 0)!important;
border: solid rgba(255, 140, 0, 0.85) 2px !important;
}


.catLabelRRR{
  font-size: 12px;
    color:rgb(28, 35, 56);
    border-bottom-left-radius: 50px 50px;
    border-top-left-radius: 100px 9px;
    border-left: solid rgb(255, 140, 0) 2px;
    border-top: solid rgb(255, 140, 0) 1px;
}

.favBut{
  font-size: 14px;
    background-color:rgb(69, 78, 105)!important;
    border-bottom-left-radius: 50px 50px;
    border-left: solid rgb(255, 140, 0) 2px;
    border-bottom: solid rgb(255, 140, 0) 1px;
    box-shadow: 0px 0px 0px rgb(255, 174, 0)!important;
}

.titleM{
  border-top: solid rgb(255, 132, 0) 2px;
  font-size: 14px;
  border-top-left-radius: 100px 2px;
}

.titleMa{
  font-size: 14px;
}

.cText{
  font-size: 12px !important;
}

.company{
  font-size: 12px;
  border-top-right-radius: 50px 50px;
  border-right: solid rgb(101, 136, 179) 0px;
    border-top: solid rgb(101, 136, 179) 2px;
}

.notFav{
  color: rgba(255, 255, 255, 0.651);
}

.fav{
  color: rgb(255, 136, 0);
}

.teeny{
  font-size:9px;
}

