.catLabelLB{
    font-size: 14px;
      color:rgb(255, 255, 255);
      border: solid rgb(255, 255, 255) 2px; 
  }

  .newCat{
    border: solid rgba(28, 44, 63,1) 4px;
    border-top: solid rgba(28, 44, 63,0) 0px;
    font-size: 30px;
  color:rgb(255, 255, 255);
  opacity: 1 !important;
}

li{
  list-style: none;
}



.storeListBox{
  /* background-color: rgba(255, 255, 255, 0.2); */
  /* border: double rgb(28, 44, 63) 12px;
  outline: solid rgb(128, 128, 128) 2px; */
  outline-offset: -8px;
  color: rgb(28, 44, 63);
}

.StoreFilterLabel{
  font-size: 16px;
    color:rgb(255, 255, 255);
    border: solid rgba(28, 44, 63,1) 4px;
    border-top: solid rgba(28, 44, 63,1) 2px;
    border-bottom-right-radius: 50px 50px;
    border-top-right-radius: 50px 50px;
    border-top-left-radius: 50px 50px;
    background-color: rgba(255, 255, 255, 0.8);
}

.DeptLabel{
  font-size: 28px;
    color:rgb(38, 34, 7);
    border-bottom-left-radius: 50px 50px;
    border-left: solid rgb(255, 153, 0) 0px;
    border-bottom: solid rgb(255, 89, 0) 5px;
    border-top: solid rgb(255, 89, 0) 2px;
    border-right: solid rgb(255, 89, 0) 1px;
   opacity:1 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}





.titleM2{
  border-top: solid rgb(255, 89, 0) 4px;
  font-size: 20px !important;
  border-top-left-radius: 100px 5px;
  box-shadow: 5px -5px 5px rgb(255, 89, 0);
}

ul {
  padding: 0;
}