
body {
    background-size: 100vw;
    background-repeat: no-repeat;
}


.bestBox{
    border-left: solid rgb(255, 132, 0) 1px;
}

.addBut{
    background-color: rgb(237, 145, 33) !important;
    outline-offset: -2px;
    color: rgb(72, 83, 108) !important;
    border: solid rgb(28, 44, 63) 2px;
}

.addBut:hover{
    background-color: rgb(72, 83, 108) !important;
    color:orange !important;
    border: solid rgb(237, 145, 33) 4px;
}

.addit{
    background-color: rgba(240, 255, 255,0.9);
    border-bottom: double rgb(238, 239, 240) 10px;
    border-top: double rgb(238, 239, 240) 10px;
    color: rgb(255, 255, 255);
}

.newA{
    font-size: 22px !important;
    text-shadow: 2px 1px rgb(255, 255, 255);
    border-bottom: solid rgb(255, 255, 255) 4px;
    border-top: solid rgb(255, 255, 255) 4px;
    border-left: solid rgb(255, 255, 255) 2px;
    background-color: rgba(237, 145, 33,1) !important;
  color:rgb(28, 44, 63);
  outline-offset: -5px;
  opacity: 1 !important;
  border-top-left-radius: 100px 5px;
  border-top-right-radius: 100px 5px;
  border-bottom-left-radius: 100px 5px;
  border-bottom-right-radius: 100px 5px;
}

.newB{
    box-shadow: 0px 0px 10px rgba(255, 255, 255,0.3);
    outline: double rgb(255, 132, 0) 4px;
    background-color: rgba(255, 255, 255, 0.8) !important;
  color:rgb(28, 44, 63);
  outline-offset: -4px;
  opacity: 1 !important;
  border: solid rgb(0, 0, 0) 4px;
}

.checkout{
    font-size: 12px;
    color:rgb(28, 44, 63);
    text-shadow: 2px 1px #ffffff;
}

h3{
  opacity: 0.8;
    border-top: double rgba(255, 255, 255,0.8) 7px;
    border-bottom: double rgba(255, 255, 255,0.8) 7px;
}

.forBut{
  font-size: 13px!important;
    opacity: 1 !important;
    border: double rgba(255, 255, 255,0.8) 7px;
    min-width: 80px;
    max-width: 200px;
    cursor: default !important;
}

.forBoxHer{
    border: solid rgba(134, 43, 87, 1) 7px;
    outline: double rgba(255, 255, 255,0.8) 7px;
    outline-offset: -7px;
    border-bottom: solid rgba(134, 43, 87, 0.65) 11px;
}

.forBoxHim{
    border: solid rgb(33, 74, 151) 7px;
    outline: double rgba(255, 255, 255,0.8) 7px;
    outline-offset: -7px;
}


.forBoxThem{
    border: solid rgb(215, 122, 9) 7px;
    outline: double rgba(255, 255, 255,0.8) 7px;
    outline-offset: -7px;
    
}

.forBox{
        outline: solid rgb(78, 99, 121) 4px;
        border-bottom: double rgb(255, 140, 0) 7px;
        border-left: double rgb(78, 99, 121) 30px;
        border-top: double rgb(255, 140, 0) 7px;
        border-right: double rgb(255, 140, 0) 7px;
        outline-offset: 0px;
      background-color: rgb(78, 99, 121) !important;
}


.dLabel{
    color:rgb(255, 255, 255) !important;
    font-size: 14px;
        border-bottom: double rgb(255, 140, 0) 7px;
        border-left: double rgb(78, 99, 121) 20px;
        border-top: double rgb(255, 140, 0) 7px;
        border-right: double rgb(255, 140, 0) 7px;
        outline: solid rgb(78, 99, 121) 4px;
        outline-offset: 0px;
        background-color: rgb(78, 99, 121) !important; 
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;     
}

.memBanner{
    border: solid rgb(32, 51, 73) 5px;
    border-bottom: solid rgba(237, 145, 33,1) 5px;
  background-color: rgb(255, 140, 0) !important;
    font-size: 25px !important;
  color:rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(26, 41, 57);
  border-radius: 15px 15px 0px 0px; 
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.memBannerBottom{
    border: solid rgb(32, 51, 73) 5px;
    border-top: solid rgba(237, 145, 33,1) 5px;
  background-color: rgb(255, 140, 0) !important;
    font-size: 25px !important;
  color:rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(26, 41, 57);
  border-radius: 0px 0px 15px 15px; 
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.sideBoi{
  border: solid rgb(243, 168, 59) 2px;
  border-radius: 0px 15px 15px 0px; 
  background-color:rgb(32, 51, 73)!important;
}

.sid{
  font-size: 18px !important;
}

.sid1{
  color:rgb(255, 255, 255);
}

.sid2{
  border-top: solid rgb(243, 168, 59) 2px; 
  color:rgb(255, 255, 255);
}

.sid3{
  border-top: solid rgb(243, 168, 59) 2px; 
  color:rgb(255, 255, 255);
}
.sid1:hover{
  color:rgb(243, 168, 59);
}

.sid2:hover{
  color:rgb(243, 168, 59);
}

.sid3:hover{
  color:rgb(243, 168, 59);
}

.showAllBut{
  border: solid rgb(243, 168, 59) 1px; 
  background-color: rgba(255, 140, 0,0) !important;
  border-radius: 5px; 
}

.showAllBut:hover{
  border: solid rgb(255, 255, 255) 1px; 
  background-color: rgba(255, 140, 0,0.4) !important;
  border-radius: 5px; 
}

.bby{
  border-bottom: solid rgb(243, 168, 59) 1px;
}

.cardOffer{
  font-size: 10px !important;
}

.cardOfferRow{
  border-top: solid rgb(17, 9, 45) 4px;
}

.linkPic{
  opacity: 0.9;
}

.strip1{
  border-top: groove rgba(255, 166, 0,0.5) 2px;
  border-bottom: groove rgba(255, 166, 0,0.5) 2px;
}

.strip2{
  border-top: groove rgba(7, 135, 255, 0.5)  2px;
  border-bottom: groove rgba(7, 135, 255, 0.5)  2px;
}

.saleBox{
  border-top: groove rgba(255, 166, 0,1) 7px;
  border-right: solid rgba(35, 41, 54,0) 11px;
  border-left: solid rgba(255, 166, 0,0.8) 1px;
  border-bottom: solid rgba(35, 41, 54,0) 11px;
  border-top-left-radius: 25%;
  box-shadow: -15px -15px 15px 0px  rgba(255, 255, 255, 0.1);
}

.catLabel{
  font-size: 16px;
    color:rgb(255, 255, 255);
    background-color: rgba(28, 44, 63,1) !important;
    border-left: solid rgb(255, 255, 255) 3px;
    border-right: solid rgb(255, 255, 255) 2px;
    border-bottom-left-radius: 50px 50px;
}
