
body {
    background-color: rgb(255, 255, 255);
    background-size: 100vw;
    background-repeat: no-repeat;
}



#midCol{
    background-color: rgba(206, 214, 245, 0.8) ;
    border: solid rgb(28, 44, 63) 4px;
}

.mrForm{
    background-color: rgba(240, 255, 255,0.9);
    border: double rgb(28, 44, 63) 10px;
    color: rgb(28, 44, 63);
}

.addBut{
    background-color: rgb(237, 145, 33) !important;
    outline-offset: -2px;
    color: rgb(72, 83, 108) !important;
    border: solid rgb(28, 44, 63) 2px;
}

.addBut:hover{
    background-color: rgb(72, 83, 108) !important;
    color:orange !important;
    border: solid rgb(237, 145, 33) 4px;
}

.addit{
    background-color: rgba(240, 255, 255,0.9);
    border-bottom: double rgb(238, 239, 240) 10px;
    border-top: double rgb(238, 239, 240) 10px;
    color: rgb(255, 255, 255);
}

.newA{
    font-size: 20px !important;
    text-shadow: 2px 1px #ffffff;
    border: solid rgb(28, 44, 63) 4px;
  background-color: rgba(237, 145, 33,1) !important;
}

.checkout{
    font-size: 12px;
    color:rgb(28, 44, 63);
    text-shadow: 2px 1px #ffffff;
}

h3{
  opacity: 0.8;
    border-top: double rgb(255, 255, 255) 10px;
    border-bottom: double rgb(255, 255, 255) 10px;
}
