#st{
    color: rgb(28, 44, 63);
    font-size: 30px;
    outline: solid  rgb(255, 255, 255) 3px;
    border-top: solid  rgb(28, 44, 63) 3px;
    border-bottom: solid  rgb(28, 44, 63) 3px;
}

#top{
    background-color: azure;
    outline: solid  rgb(255, 255, 255) 4px;
    border: double rgb(72, 83, 108) 10px;
    outline-offset: -11px;
}

#tn{
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
    font-size: 18px;
}

#tn2{
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
    font-size: 18px;
}

#tn2:hover{
    color: orange !important;
}

.sidey{
    background-color: rgb(28, 44, 63);
}

.cats{
    font-size: 20px !important;
    border-bottom: solid  rgb(255, 255, 255) 2px;
    color: white;
}

.cats:hover{
    color:orange !important;
    border-bottom: solid  rgb(255, 153, 0) 2px;
}

.active{
    color:orange !important;
    border-bottom: none;
}

.subcat:hover{
    color:orange !important;
}

.accBut:hover{
    background-color: rgb(211, 121, 12) !important;
}

.logo {
    text-shadow: 2px 1px #ffffff;
}

.soc:hover{
    color:orange !important;
}