.navie{
    border-bottom: solid rgb(255, 132, 0) 4px; 
    border-left: double rgba(255, 255, 255,0) 100px;
    border-right: double rgba(255, 255, 255,0) 100px;
}



#st{
    color: rgb(255, 255, 255) !important;
    font-size: 16px;
    text-shadow: none;
    border-bottom: double rgb(255, 255, 255) 7px;
    border-left: double rgba(255, 255, 255,0) 100px;
    border-right: double rgba(255, 255, 255,0) 100px;
    border-top: solid rgb(255, 119, 0) 4px; 
}

.navBut{
    background-color: rgba(255, 255, 255, 0) !important; 
}

.navBut:hover{
text-shadow: 0px 0px 3px #bc9d9d;
    color:orange !important;
}

#st2{
    color: rgb(72, 83, 108) !important;
    outline-offset: 4px;
    border-bottom: double rgb(72, 83, 108) 7px;
    border-top: double rgb(72, 83, 108) 7px;
}

#top{
    border-bottom: solid rgb(255, 255, 255) 1px;
}

#tn{
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
    font-size: 18px;
}

#tn2{
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
    font-size: 18px;
}

#tn2:hover{
    color: orange !important;
}




.active{
    color:orange !important;
    border-bottom: none;
}

.subcat:hover{
    color:orange !important;
}

.accBut:hover{
    background-color: rgb(211, 121, 12) !important;
}

.logo{
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    text-shadow: 0px 0px 3px #bc9d9d;
    border-left: ridge rgba(255, 255, 255, 1) 2px;
    border-top: ridge rgba(255, 255, 255, 1) 9px;
    border-right: ridge rgba(35, 41, 54,0) 0px;
    border-bottom: ridge rgba(255, 255, 255, 0) 0px;
    border-radius: 5px 50px 5px 40px; 
    background-color:rgb(32, 28, 73);
}

.logo2{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    color:rgba(39, 37, 82, 1) !important;
    border-left: groove rgba(255, 255, 255, 0.856) 2px;
    border-top: groove rgba(255, 68, 0, 0) 2px;
    border-bottom: groove rgb(255, 255, 255) 3px;
    border-right: groove #ffffffda 10px;
    border-radius: 0px 50px 0px 50px; 
    background-color:rgb(255, 81, 0);
}

.clogo{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    text-shadow: 0px 0px 10px #FF0000;
}

.ctop{
    border-radius: 15px 15px 0px 0px; 
}


.soc:hover{
    color:orange !important;
}

#topLink{
    color: rgb(255, 255, 255) !important;
    font-size: 20px !important;
}

#topLink:hover{
    color: orange!important;
    text-shadow: 0px 0px 1px #FF0000;
}

.fire{
    color: orange!important;
    text-shadow: 0px 0px 10px #FF0000;
}

.logofire{
    font-size: 35px !important;
    border: solid rgb(255, 255, 255) 3px;
    border-right: solid rgba(35, 41, 54,0) 7px;
    border-left: solid rgba(130, 140, 161,0) 7px;
    outline: solid rgb(79, 66, 43) 3px;
    outline-offset: -5px;
}

.accBut{
 font-size: 15px !important;
 background-color: rgba(255, 255, 255,0) !important;
}

.cartButt{
    font-size: 15px !important; 
}

#home .view {
    background: url("https://i.imgur.com/Hp73nj2.jpg?2") no-repeat center center;
    background-size: cover;
    min-height: 170px;
  }

  .memberCardBox{
      display: flex;
      justify-content: space-around;
      margin: 100px;
  }

.memberCard{
    border: solid rgb(255, 255, 255) 2px;
    border-radius: 20px;
    max-width: 220px;
    min-width: 200px;
} 

.footBoi{
    border-top: solid rgb(255, 132, 0) 4px; 
    border-left: double rgba(255, 255, 255,0) 100px;
    border-right: double rgba(255, 255, 255,0) 100px;}



